body {
    font-family: Futura;
    text-decoration: none;
    background-color: #FCF7F4;
    color: #052EF1;
    margin: 0;
}

.bread-splash-subtitle{
    padding: 50px;
    width: 65%;
    font-family: Moret-Semibold;
    font-size: 44px;
    font-weight: 100px;
    color: black;
    position: absolute;
    z-index: 1;
    bottom: 43%;
}

.beach-pic-background {
    z-index: 0;
}

.main-page-containter {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #FCF7F4;
    overflow: hidden;
}

.splash-sign-up-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    width: 120px;
    height: 40px;
    /* border-radius: 50px; */
    /* background-color:black; */
    text-align: center;
    color: black;
    box-shadow: 0 0 5 5;
    text-transform: uppercase;
    transition: 0.5s;
    position: absolute;
    z-index: 1;
    bottom: 35%;
    border-bottom: 2px solid black;
}

.splash-sign-up-button:hover {
    width: 120px;
    height: 40px;
    background-color:black;
    color: white
}

.use-case-tile-container {
    position: absolute;
    top: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.use-case-tile-group {
    font-size: 40px;
    width: 400px;
    height: 400px;
    background-color: #FFB7D5;
    color: #052EF1;
    text-align: center;
}

.use-case-tile-work {
width: 400px;
    height: 400px;
    background-color: #052EF1;
    color: #BBFFB9;
    text-align: center;
}

/* .use-case-tile-dinner {
width: 400px;
    height: 400px;
    background-color: #FFAB44;
    color: #052EF1;
    text-align: center;
} */

/* .footer-container {
    color: white;
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: -600;
    width: 100%;
    height: 40px;
} */