@font-face {
  font-family: 'Futura';
  src: url('futura_medium-webfont.eot'); /* IE9 Compat Modes */
  src: url('futura_medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('futura_medium-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('futura_medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('futura_medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Moret-Semibold';
  src: url('fontsfree-net-moret3-webfont.eot'); /* IE9 Compat Modes */
  src: url('fontsfree-net-moret3-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fontsfree-net-moret3-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fontsfree-net-moret3-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fontsfree-net-moret3-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}


body {
    font-family: Futura;
    text-decoration: none;
    background-color: #FCF7F4;
    color: #052EF1;
    margin: 0;
}

.login-signup-bread-title-logo {
    font-size: 48px;
    padding-left: 50px;
    color: white;
}

.bread-splash-subtitle{
    padding: 50px;
    width: 65%;
    font-family: Moret-Semibold;
    font-size: 5vh;
    font-weight: 100px;
    color: black;
    position: absolute;
    z-index: 1;
    bottom: 43%;
}

.beach-pic-background {
    z-index: 0;
}

.main-page-containter {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #FCF7F4;
    overflow: hidden;
}

.splash-sign-up-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    width: 120px;
    height: 40px;
    /* border-radius: 50px; */
    /* background-color:black; */
    text-align: center;
    color: black;
    box-shadow: 0 0 5 5;
    text-transform: uppercase;
    transition: 0.5s;
    position: absolute;
    z-index: 1;
    bottom: 35%;
    font-size: 18px;
    border-bottom: 2px solid black;
}

.splash-sign-up-button:hover {
    width: 120px;
    height: 40px;
    background-color:black;
    color: white
}

/* .use-case-tile-dinner {
width: 400px;
    height: 400px;
    background-color: #FFAB44;
    color: #052EF1;
    text-align: center;
} */

/* .footer-container {
    color: white;
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: -600;
    width: 100%;
    height: 40px;
} */
.footer-bread-title-logo {
    font-size: 32px;
    color: white;
    /* font-family: Moret-Semibold; */
}

.footer-container {
    width: 100%;
    height: 400px;
    background-color: black;
    font-family: Futura;
    /* position: fixed;
    left: 0;
    bottom: 0; */
    color: white;
}

.footer-inner-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
        position: relative;
}

.footer-more-inner-container {
    position: absolute;
    top: 80px;
    left: 10px;
}

.footer-left-column {
    position: absolute;
    top: 10px;
    left: 210px;
    display: flex;
    flex-direction: column;
}

.footer-center-column {
    position: absolute;
    top: 10px;
    left: 420px;
    display: flex;
    flex-direction: column;
}

.footer-final-column {
    position: absolute;
    top: 10px;
    left: 840px;
    display: flex;
    flex-direction: column;
}

.footer-right-column {
    position: absolute;
    top: 10px;
    left: 630px;
    display: flex;
    flex-direction: column;
}

.footer-links {
    width: 200px;
    color: white;
    font-weight: 100;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.footer-link {
    margin: 12px;
    text-decoration: none;
    transition-duration: .3s;
    color: white;
    font-weight: 100;
    font-size: 14px;
}

.footer-link:hover {
    color: rgb(56, 158, 241); 
}

#grey-footer {
    color: #FCF7F4;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
}

.footer-far-right-icons {

}

.social-icon {

}