body {
    font-family: Futura;
    text-decoration: none;
    background-color: #FCF7F4;
    color: #87D18B;
    margin: 0;
}

.bread-splash-title {
    position: absolute;
    top: 30%;
    font-size: 1016%;
    font-weight: 100px;
    color: black;
}

.bread-splash-subtitle{
    position: absolute;
    top: 52%;
    font-size: 24px;
    font-weight: 100px;
    color: #87D18B;
    /* font-family: Roc Grotesk; */
}

.main-page-containter {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash-sign-up-button {
    position: absolute;
    top: 67%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    border-radius: 50px;
    background-color:#87D18B;
    text-align: center;
    color: #FCF7F4;
    box-shadow: 0 0 5 5;
    text-transform: uppercase;
}

.splash-sign-up-button:hover {
    width: 132px;
    height: 44px;
    background-color: #87D18B;
}
.use-case-tile-container {
    position: absolute;
    top: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}
.use-case-tile-group {
    font-size: 40px;
    width: 400px;
    height: 400px;
    background-color: #FFB7D5;
    color: #0F5642;
    text-align: center;
}

.use-case-tile-work {
width: 400px;
    height: 400px;
    background-color: #2954D3;
    color: #BBFFB9;
    text-align: center;
}

.use-case-tile-dinner {
width: 400px;
    height: 400px;
    background-color: #FFAB44;
    color: #1255EC;
    text-align: center;
}

/* .footer-container {
    color: white;
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: -600;
    width: 100%;
    height: 40px;
} */