#expense-item-container {
    margin: 10px 20px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

#expense-item-container.total-payed {
    margin: 10px 20px;
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
    font-weight: bold;

}

#expense-item-container button {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(150 150 150);
    border-radius: 25px;
    height: 25px;
    width: 25px;
    padding-left: 7px;
    padding-top: 1px;
    margin-bottom: 1px;
    border: none;
    transition: .5s;
    margin-right: -25px;
}

#expense-item-container button:hover {
    color: rgb(55, 55, 55);
    background-color: rgb(227, 227, 227);
    cursor: pointer;
}