.internal-nav-bar-container {
    width: 100%;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color:  #FCF7F4;   
    border-radius: 30px 0px 0px 0px;
    z-index: 1;
}

.internal-nav-user-home-button {
    font-size: 18px;
    font-weight: bold;
    padding: 40px;
    color: #052EF1;
    transition: .5s;
}
.internal-nav-user-home-button:hover {
    color: black;
}

.internal-nav-user-Search-button {
    font-size: 18px;
    padding: 40px;
    color: #052EF1;
    font-weight: bold;
    transition: .5s;
}
.internal-nav-user-Search-button:hover {
        color: black;

}

.internal-nav-user-Events-button {
    font-size: 18px;
    padding: 40px;
    color: #052EF1;
    font-weight: bold;
    transition: .5s;
}

.internal-nav-user-Events-button:hover {
    color: black;

}

.user-home-logout-button {
    font-family: Futura;
    border-radius: 10px;
    background-color: black;
    color:white;
    font-size: 14px;
    padding: 6px;
    position: fixed;
    right: 2%;
    border: 0;
    transition: .5s;
}
.user-home-logout-button:hover {
    background-color: #052EF1;
    color: white;
}