.event-show-page-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.event-details-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 14px;
    padding: 5px;
    border-bottom: 2px solid black;
    transition: .5s;
}

.event-details-button:hover {
    background-color: black;
    color: white;
}

.event-show-page-title {
    display: flex;
    font-size: 24px;
    padding: 10px;
}

.event-show-attendees {
    display: flex;
    font-size: 16px;
    padding: 5px;
}

.event-total-cost {
    display: flex;
    font-size: 24px;
    padding: 5px;
    text-align: right;
    text-decoration: underline;
}

.event-show-link-to-home {
    display: flex;
    font-size: 14px;
    padding: 5px;
    text-align: right;
    text-decoration: underline;
}