#event-page-container {
    margin: 179px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcf7f4;
    padding-bottom: 10%;
    box-shadow: 1px 10px 15px #d6d6d6;
}

.event-page-title-container {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}

#results-list-title {
    font-size: 22px;
    border-bottom: 3px black solid;
}

#expense-list-title {
    font-size: 24px;
    border-bottom: 6px solid #87D08B;
    display: flex;
    justify-content: space-between;
}

#event-page-title {
    color: white;
    font-size: 36px;
    margin: 10px 0px;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 10px 0px;
}

#event-page-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 85%;
    padding-top: 3%;
}

#expense-list-container {
    padding: 20px;
    background: white;
    border-radius: 20px;
    width: 55%;
    box-shadow: 1px 10px 15px #d6d6d6;
    margin-right: 30px;
}

#event-info-container {
    padding: 20px;
    background: white;
    border-radius: 20px;
    width: 100%;
    height: 45%;
    box-shadow: 1px 10px 15px #d6d6d6;
    margin: 0px auto;
    margin-bottom: 30px;
}

#event-right-side-container {
    margin-right: 40px;
}

#event-page-footer {

}

#event-page-btns {
    
}

#event-page-btns button {

}

#total-expenses {
    
}

.delete-event-btn {
    margin-top: 30px;
    padding-top: 12px;
    padding-bottom: 8px;
    background-color: #ffffff00;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    border-bottom: 3px solid black;
    font-size: 15px;
    transition: .5s;
}

.delete-event-btn:hover {
    background-color: black;
    color: white;
}

.delete-event-btn:focus {
    outline: none
}

.delete-event-btn:active {
    letter-spacing: 4px;
}

.description-banner {
    font-size: 16px;
}

.description-banner input {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

.description-banner button {
    margin: 0px 5px;
    padding-top: 12px;
    padding-bottom: 8px;
    background-color: #ffffff00;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    border-bottom: 3px solid black;
    font-size: 15px;
    transition: .5s;
}

.description-banner button:hover {
    background-color: black;
    color: white;
}

.description-banner button:active {
    letter-spacing: 4px;
}