#event-page-container {
    margin: 179px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcf7f4;
    border-radius: 30px;
    padding-bottom: 150px;
    box-shadow: 1px 10px 15px #d6d6d6;
}

#event-page-title {

}

#event-page-details {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#expense-list-container {
    padding: 20px;
    background: white;
    border-radius: 20px;
    width: 55%;
}

#event-info-container {
    padding: 20px;
    background: white;
    border-radius: 20px;
    width: 30%;
}

#event-page-footer {

}

#event-page-btns {
    
}

#event-page-btns button {

}

#total-expenses {
    
}