#event-page-container {
    margin: 179px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcf7f4;
    border-radius: 30px;
    padding-bottom: 150px;
    box-shadow: 1px 10px 15px #d6d6d6;
}

#results-list-title {
    font-size: 22px;
    border-bottom: 3px black solid;
}

#expense-list-title {
    font-size: 24px;
    border-bottom: 6px solid #87D08B;
    display: flex;
    justify-content: space-between;
}

#event-page-title {
    font-size: 36px;
    margin: 10px 0px;
}

#event-page-details {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#expense-list-container {
    padding: 20px;
    background: white;
    border-radius: 20px;
    width: 55%;
}

#event-info-container {
    padding: 20px;
    background: white;
    border-radius: 20px;
    width: 75%;
    margin: auto;
    margin-bottom: 40px;
}

#event-page-footer {

}

#event-page-btns {
    
}

#event-page-btns button {

}

#total-expenses {
    
}