.user-event-item-container {
    top: 100px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: 15px;
    background-color: #FCF7F4;
    border-radius: 5px;
    padding-top: 100px;
}

.user-event-tile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 258px;
}
.event-show-attendees {
    font-size: 12px;
    color: black;
}
.event-show-page-container {
    font-size: 24px;
    position: relative; 
    width: 25%;
    height: 258px;
    background-color: #F5F1EB;
    color: black;
    margin: 20px;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 1px 10px 15px #d6d6d6;
    padding: 15px;
    transition: .5s;
}

.event-show-page-container:hover {
    background-color: #87D08B;
}

/* .user-event-tile:hover {
    opacity: 4px;
} */