#event-form-container-dinner {
    margin: 179px 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2954D3;
    color: #BBFFB9;
    padding-bottom: 150px;
    box-shadow: 1px 10px 15px #d6d6d6;
}

/* .event-form-details-container {
    display: flex;
    flex-direction: row;

} */

/* .event-name-host-dinner-button {
    height: 18%;
    width: 10%;
    border: none;
    background-color: white;
    padding-bottom: 17px;
    padding-top: 17px;
    font-size: 17px;
    font-family: futura;
} */

.event-name-host-dinner-input {
    height: 18%;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border: none;
    background-color: white;
    padding-bottom: 17px;
    padding-top: 17px;
    font-size: 17px;
} 