.right-user-home-container-intros {
    border-radius: 30px 0px 0px 0px;
    background-color: #FCF7F4;
    width: 80%;
    height: 100vh;
    overflow: auto;
    color: black;
}
.intro-page-container {
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 25px;
    background-color: #FCF7F4;
    border-radius: 5px;
    padding-top: 100px;
}

.internal-nav-user-intros-button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    transition: .5s;
    /* margin: 30px; */
    margin-left: 0px;
    background-color: #FCF7F4;
    color: #87D08B;
    padding: 40px 60px 40px 60px;
    border-radius: 30px 30px 0px 0px;
}
/* .internal-nav-user-intros-button:hover {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    transition: .5s;
    margin-left: 0px;
    background-color: #FCF7F4;
    color: #87D08B;
    padding: 40px 60px 40px 60px;
    border-radius: 30px 30px 0px 0px;
} */

.drew-information-container {
    font-size: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    width: 50%;
    height: 40vh;
    background-color: #FFB7D5;
    color: #0F5640;
    padding-bottom: 10px;
    padding-top: 10px;
}
.drew-information-container:hover {
}

.nick-information-container {
     font-size: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
     text-transform: uppercase;
    width: 50%;
    height: 40vh;
    background-color: #1A9666;
    color: #FCF6A9;
      padding-bottom: 10px;
         padding-top: 10px;
}

.JR-information-container {
    font-size: 32px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
     text-transform: uppercase;
     width: 50%;
    height: 40vh;
    background-color: #2954D3;
    color: #BBFFB9;
    padding-bottom: 10px;
    padding-top: 10px;
}
.Rav-information-container {
     font-size: 32px;
    display: flex;
   flex-wrap: wrap;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
     text-transform: uppercase;
      width: 50%;
    height: 40vh;
    background-color: #FE4318;
    color: #C0FDFF;
    padding-bottom: 10px;
    padding-top: 10px;
}

.intro-head-shot-pic {
    height: 30vh;
    width: auto;
}

.intro-head-shot-pic-drew {
    height: 30vh;
    width: auto;
    margin-left: 20px;
}